* {
  outline: none;
}
:root {
  --off-black: #343A40;
  --off-black-80: #343A4080;
}
html {
  height: 100%;
}
.speedia-bg {
  background: linear-gradient(0deg, rgb(151, 165, 240) 0%, rgb(158, 229, 243) 100%);
  height: 100% auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.dark-bg {
  height: 100vh;
  width: 100vw;
  background-color: var(--off-black);
}
.red-bg {
  background-color: #DE3F63;
}
.drop-shadow {
  filter: drop-shadow(3px 6px 9px var(--off-black-80))
}
.drop-shadow-heavy {
  filter: drop-shadow(3px 6px 9px #000000)
}
.name-enter {
  border-width: 0;
  border-left: 0.5em solid #DE3F63;
  padding: 0.5em;
  font-size: 2em;
  color: var(--off-black);
  filter: drop-shadow(3px 6px 9px var(--off-black-80));
}
.name-enter-success {
  border-left-color: #32BD70;
}
.name-enter::placeholder {
  filter: drop-shadow(3px 6px 9px var(--off-black-50));
}
.unselected-category {
  color: var(--off-black);
  background-color: #FFFFFF;
  cursor: pointer;
}
.selected-category {
  color: #FFFFFF;
  background-color: var(--off-black);
}
.selected-category > ul > li {
  filter: drop-shadow(3px 6px 9px #000000);
}
.b-0, .list-group-item {
  border: 0;
}
.br-0 {
  border-radius: 0;
}
.fs-5 {
  font-size: 5em;
}
.bg-t {
  background-color: transparent;
}
.vh-80 {
  min-height: 80vh;
}
.center-parent {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.as-fs {
  flex-basis: 100%;
  align-self: flex-start;
}
.go-button {
  padding: 0.5em;
  font-size: 2em;
  border-radius: 0;
  border-width: 0;
  background: linear-gradient(45deg, rgb(241, 113, 167) 0%, rgb(222, 63, 99) 100%);
}
.go-button-success {
  background: linear-gradient(45deg, rgb(93, 236, 188) 0%, rgb(50, 189, 112) 100%);
}
.center-parent {
  display: flex;
  align-items: center;
  justify-content: center;
}
.standout-card {
  color: var(--off-black);
  background-color: #FFFFFF;
  border-width: 0;
  border-radius: 0;
}
.center-card {
  z-index: 3;
  padding-left: 2em;
  padding-right: 2em;
}
.exit-button-container {
  position: absolute;
  top: 1em;
  right: 1em;
}
.exit-button {
  background: linear-gradient(45deg, rgb(241, 113, 167) 0%, rgb(222, 63, 99) 100%);
  border-radius: 0;
}
.game-text {
  color: #FFFFFF;
  margin: 2em 0 1em 0;
}
.game-progress-bar {
  width: 100%;
  background-color: #32BD70;
}
.game-progress {
  position: fixed;
  top: 55%;
  left: 0;
  width: 100vw;
  height: 9em;
  border-radius: 0;
}
.fs-10 {
  font-size: 10em;
}
.bg-t {
  background-color: transparent;
}
.ptb-1 {
  padding-top: 1em;
  padding-bottom: 1em;
}
.ptb-15 {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}
.post-n2 {
  position: relative;
  top: -2em;
  left: 0;
  right: 0; 
  margin: auto;
  width: 4em;
}
.post-2 {
  position: absolute;
  background-color: red;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  width: 4em;
  border-width: 2px;
  border-style: solid;
  border-color: #FFFFFF;
  background-color: var(--off-black);
  z-index: 3;
  transform: skew(-15deg);
}
